.support__list{
    max-width: 600px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
}

@media (max-width: 768px) {

    .support__list{
        grid-template-columns: 1fr;
        place-items: center;
    }

}